@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --voxpop-gold: #ffd053;
  --voxpop-brown: #370e0e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-voxpop-gold: var(--voxpop-gold);
  --color-voxpop-brown: var(--voxpop-brown);
  --color-voxpop-gold-dark: #e6ba4a;
  --color-voxpop-gold-light: #fff4d6;
  --color-voxpop-brown-light: #5a1a1a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

button {
  cursor: pointer;
}
